<h1 align="center">New Company</h1>
<h3 align="center">
<%= render 'form', company: @company %>
</h3>
<table border="2px" bgcolor="#33b5e5" align="center">
<tr>
	<td>
<%= link_to 'Back', companies_path %>
</td>
</tr>
</table>