<p id="notice"><%= notice %></p>

<p>
  <strong>Regionname:</strong>
  <%= @newregion.regionname %>
</p>

<%= link_to 'Edit', edit_newregion_path(@newregion) %> |
<%= link_to 'Back', newregions_path %>
